#atg_store_catNav a{
  padding: 0 6.5px;
  white-space:nowrap;
}

.atg_store_pageCart #atg_store_cart td.atg_store_actionItems{
  width:110px;
}
.atg_store_existingAddresses ul.atg_store_addNewCreditCard li.option label{
  margin-left:-20px;
  margin-right:0 !important;
}

.atg_store_existingAddresses ul.atg_store_addNewCreditCard li.option span{
  white-space:normal;
}
.atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode a.atg_store_help{
  margin-top:40px;
}
.atg_store_wrapOptions li{
  width:100%;
  float:left;
  clear:left;
}

.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_cardType label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_expiration label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccNumber label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_cardType label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_expiration label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_ccNumber label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode label{
  margin-top:14px;
}

.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li{
  margin-right:25px;
}

.atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice span.quantity,
.atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice span.quantity{
 width:65px !important;
 }
 .atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice p.note,
 .atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice .atg_store_oldPrice,
 .atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice p.note,
 .atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice .atg_store_oldPrice{
   margin-left:65px !important;
 }
 
.atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice .atg_store_itemQty,
.atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice .atg_store_itemQty{
  width:140px !important;
}