#atg_store_catNav a{
  padding: 0 7px;
  white-space:nowrap;
}

div.atg_store_pickerContainer span.atg_store_pickerLabel, .atg_store_quantity .atg_store_pickerLabel{
  width:55px;
}


.atg_store_giftWrap{
  line-height:22px;
}

#atg_store_cart td.atg_store_actionItems {
width:343px;
}

.atg_store_existingAddresses #atg_store_selectAddress h3{
  width:315px;
}

.atg_store_existingAddresses #atg_store_createNewShippingAddress h3{
  margin:0 auto 52px;
}
.atg_store_existingAddresses #atg_store_enterNewBillingAddress h3{
  text-align:left;
}

.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_cardType label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_expiration label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccNumber label,
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_cardType label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_expiration label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_ccNumber label,
#atg_store_checkout  ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode label{
  margin-top:16px;
}
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li{
  margin-right:20px;
}
.atg_store_existingAddresses fieldset.atg_store_chooseBillingAddresses, 
.atg_store_existingAddresses fieldset.atg_store_chooseShippingAddresses,
.atg_store_existingAddresses #atg_store_createNewShippingAddress .atg_store_createNewShippingAddress,
.atg_store_myAccount .atg_store_existingAddresses #atg_store_enterNewBillingAddress fieldset{
  height:485px;
}
.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.option span{
  width:105px !important;
}
.atg_store_accountLogin .atg_store_basicForm li label{
  width:90px;
  line-height:12px;
}
.atg_store_checkoutLogin .atg_store_basicForm li label{
  width:80px;
}
.atg_store_accountLogin .atg_store_basicForm li{
  width:265px;
  margin-bottom:10px;
}
.atg_store_checkoutLogin .atg_store_basicForm li{
  padding: 0 12px !important;
}
.atg_store_accountLogin .info_link{
  margin-left:90px;
}
.atg_store_checkoutLogin .info_link{
  margin-left:80px;
}

.atg_store_accountLogin .atg_store_basicForm li p{
  margin: 0 20px;
}

#atg_store_anonCustomerLogin .atg_store_basicForm{
  height:62px;
}

#atg_store_richCart div.atg_store_richCartItem dt {
  width: 65px !important;  
}

#atg_store_giftListShop table td.quantity {
width:250px !important;
}

.atg_store_registerConfirmPassword label,
.atg_store_registerDateofBirth label{
  line-height:1em;
}
.atg_store_shipmentInfo dl,
.atg_store_multishipGroupInfo dl{
width: 250px
}
.atg_store_shipmentInfo dt, 
.atg_store_multishipGroupInfo dt{
  width:80px;
}
.atg_store_shipmentInfo .atg_store_groupPayment dd.atg_store_groupPaymentCardExp, 
.atg_store_shipmentInfo .atg_store_groupPayment dd.atg_store_groupPaymentCardCSV{
  margin-left:80px;
}
.atg_store_shipmentInfo dl.atg_store_groupPayment{
  width:225px;
}
.atg_store_orderDetails .atg_store_groupOrderInfo dd.atg_store_orderDate{
  margin-top:20px;
}

.atg_store_orderNotPlaced .atg_store_generalMessage ul{
  padding-left:25px;
}
.atg_store_existingAddresses .atg_store_basicForm li{
  margin-bottom:15px;
}
.atg_store_existingAddresses fieldset.atg_store_chooseShippingAddresses, 
.atg_store_existingAddresses #atg_store_createNewShippingAddress .atg_store_createNewShippingAddress{
  height:525px;
}

.atg_store_chooseDefaults{
  width:610px;
}

.atg_store_existingAddresses ul.atg_store_addNewCreditCard li .atg_store_cardNickName, 
.atg_store_pageBilling ul.atg_store_addNewCreditCard li .atg_store_cardNickName {
margin-bottom: 12px;
}

.dj_osx .atg_store_existingAddresses ul.atg_store_addNewCreditCard li .atg_store_cardNickName, 
.dj_osx .atg_store_pageBilling ul.atg_store_addNewCreditCard li .atg_store_cardNickName {
margin-bottom: 10px;
}

ul.atg_store_addNewCreditCard .atg_store_help {
bottom:4px;
}

.atg_store_forgotPassword ul.atg_store_basicForm li label{
  margin-bottom: 5px;
}
.atg_store_forgotPassword ul.atg_store_basicForm li {
  width: 206px;
  margin: 0 auto;
  padding-left: 0;
}
