<li>
  <a href="${data.url}" dojoAttachPoint="imageLink" title="${data.name}" class="atg_store_richCartImage"><img src="${data.imageUrl}" alt="${data.name}"/></a>
  <div class="atg_store_richCartItem">
    <a href="${data.url}" dojoAttachPoint="titleLink" class="atg_store_richCartItemDescription"><p class="itemName">${data.name}</p>
      <ul dojoAttachPoint="pricesContainer"></ul>
      <span class="atg_store_availability" dojoAttachPoint="availabilityContainer" style="display:none;"></span>
      <dl dojoAttachPoint="propertiesContainer"></dl>
    </a>
    <a href="${data.url}" class="atg_store_siteName" dojoAttachPoint="siteContainer" style="display:none;"></a>
  </div>
</li>
