input[type="text"]{
  padding:3px 0px 0 0;
  height:17px !important;
}
input[type="password"]{
  padding:3px 0px 0px 0px;
  height:17px !important;
}

.atg_store_basicButton input{
  padding-left:35px;
  padding-right:5px;
  overflow:visible;
}
.atg_store_basicButton input{
  font-size:1.3em !important;
  padding-top:3px;
}

input.atg_store_textButton{
   overflow:visible;
   font-size:1em;
}
.atg_store_saveNewBillingAddress .atg_store_basicButton,
.atg_store_saveNewBillingAddress .atg_store_basicButton:hover, 
{
  margin-left: 0px;
}

.atg_store_actionItems ul li input.atg_store_actionDelete{
  background: url(/crsdocroot/images/atgstore/icon_remove.png) no-repeat right center !important;
  padding-right:22px !important;
  font-size:1.1em;
}

.atg_store_actionItems ul li input.atg_store_actionDelete:hover {
  background: url(/crsdocroot/images/atgstore/icon_remove_hover.png) no-repeat right center !important;
  padding-right:22px !important;
  font-size:1.1em;
}

#atg_store_locale{
  margin-top:0px;
  padding-top:30px;
}

.add_to_cart_link{
  padding-right:40px;
}

#atg_store_navCart{
  position:relative;
  bottom:5px;
}

#atg_store_navCart ul li.atg_store_checkout a{
  position:relative;
  top:-2px;
}

.atg_store_richCartButton {
  padding-bottom: 5px;	
}

#atg_store_navCart li.last a{
  position:relative;
  zoom:1;
  padding-bottom:5px;
}
#atg_store_logOut ul li.last,
#atg_store_navCart li.last{
  margin-right:0;
  padding-right:0;
  border:none;
}
#atg_store_search span.atg_store_smallButton input{
  text-indent:0;
  font-size:0;
  color:#fff;
}

#atg_store_searchStoreSelect{
  margin-left:16px;
  white-space:nowrap;
  top:-35px;
}

#atg_store_searchStoreSelect label{
  position:relative;
  top:-2px;
}

#atg_store_logOut ul li.atg_store_welcomeMessage{
  width:240px;
  max-width:225px;
  float:left;
}

#atg_store_search .atg_store_searchInput{
  height:25px !important;
}

/* IE Fix For Gift List Drop Down z-index */
#atg_store_header{
  z-index:1500;
  position:relative;
}
#atg_store_mainHeader{
  z-index:1400;
}



#atg_store_personalNav ul li.atg_store_giftListsNav div.atg_store_giftListMenuContainer{
  top:17px;
}

#atg_store_catNav li{
  float:left;
  padding-right:5px;
}

#atg_store_catNav a{
  padding: 0 38.5px;
}

#atg_store_catNav li li a{
  line-height:normal;
}

.currentCat div.atg_store_catSubNv{
  top:39px;
}

.atg_store_pickerActions ul li{
margin-bottom:5px;
padding:0 3px;
}
.atg_store_pickerActions ul li.atg_store_giftListsActions{
  margin-bottom:0px;
}

.atg_store_pickerActions ul li input{
  padding:0px 3px 0px 17px;
}



/* Homepage Promotions */
.atg_store_homepage_products ul.atg_store_product,
.atg_store_homepage_products ul.atg_store_product li,
.atg_store_homepage_products ul.atg_store_product li a{
  padding-bottom:20px !important;
  margin-bottom:0 !important;
}


/* Color/Size Picker */
div.atg_store_pickerContainer div.atg_store_colorPicker strong.selector a,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker strong.selector a{
  display:inline;
  margin-right:2px;
  margin-bottom:2px;
}
div.atg_store_pickerContainer div.atg_store_colorPicker strong.selector a.atg_store_pickerAttribute,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker strong.selector a.atg_store_pickerAttribute{
  left:-2px;
  margin-right:-2px;
  margin-bottom:0;
}
div.atg_store_pickerContainer div.atg_store_colorPicker strong.selector span.active,
div.atg_store_pickerContainer div.atg_store_colorPicker strong.selector span.active span,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker strong.selector span.active,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker strong.selector span.active span{
  width:225px;
}

div.atg_store_pickerContainer div.atg_store_colorPicker strong.selector img,
div.atg_store_pickerContainer div.atg_store_woodFinishPicker strong.selector img{
  vertical-align:middle;
}

ul#moreactions{
  margin-bottom:0px;
  padding-bottom:10px;
}
ul#moreactions li{
  display:inline;
}

ul#moreactions li.atg_store_giftListsActions .atg_store_giftListMenuContainer{
  top:19px !important;
}

.atg_store_infoList dd{
  float:none;
}
.atg_store_myAccount .atg_store_addNewCreditCard .atg_store_ccExpiration{
  clear:none;
  float:left;
  white-space:nowrap;
}

.atg_store_existingAddresses div.atg_store_ccExpiration{
  clear:left !important;
  float:left;
  white-space:nowrap;
}
.atg_store_editCreditCard div.atg_store_ccExpiration{
  clear:none !important;
}
.atg_store_existingAddresses ul.atg_store_addNewCreditCard li{
  margin-right:28px;
}

.atg_store_existingAddresses ul.atg_store_addNewCreditCard .atg_store_saveCC,
.atg_store_pageBilling ul.atg_store_addNewCreditCard li.atg_store_saveCC{
  width:130px;
}

#atg_store_recommendAddToCart ul.atg_store_product li{
  padding-bottom:35px;
}

.atg_store_pageCart .atg_store_product_recommendations ul {
  width: 764px;
}

ul.atg_store_emailProduct li .atg_store_productInfo .atg_store_emailProductPrice span.atg_store_oldPrice{
  font-size:.9em;
}

#no_js_picker_contents div.atg_store_pickerContainer div.atg_store_colorSizePicker select{
  width:180px;
}

#no_js_picker_contents div.atg_store_pickerContainer .atg_store_woodFinishPicker{
  padding-bottom:0;
}

#no_js_picker_contents .atg_store_help{
  float:none;
}
#no_js_picker_contents .atg_store_quantity{
  padding-top:10px;
}

#no_js_picker_contents .atg_store_productAvailability{
  padding-top:0;
}

.atg_store_pickerActions ul li.atg_store_wishListsActions input,
.atg_store_pickerActions ul li.atg_store_compareActions input{
  padding-top:1px;
  top:1px;
  position:relative
}

/* My Account 
----------------------------------*/
  
/* Checkout Defaults */
.atg_store_myProfileText{
  float:left;
}
  
/* Side Navigation */

#atg_store_myAccountNav ul li{
  margin-bottom:-2px;
}

.atg_store_myProfileInfo .atg_store_infoList dd{
  margin-bottom:0;
}

#atg_store_checkoutPrefs ul li span.atg_store_label{
  clear:left;
  width:113px;
}
ul.atg_store_storedAddressActions li, 
ul.atg_store_storedCreditCardsActions li {
  float:left;
}
#atg_store_paymentInfoAddNewCard{
  width:775px;
}

#atg_store_paymentInfoAddNewCard .atg_store_editCreditCard .atg_store_ccExpiration{
  width:275px;
  clear:none;
  float:left;
}

#atg_store_chooseCardAddress{
  height:auto;
  overflow:visible;
  width:775px;
}

.atg_store_orderDetails .atg_store_shipmentInfo .atg_store_groupPayment dd.atg_store_groupPaymentCardExp,
.atg_store_orderDetails .atg_store_shipmentInfo .atg_store_groupPayment dd.atg_store_groupPaymentCardType{
  margin-top:0;
  float:left;
  
}
.atg_store_orderDetails .atg_store_shipmentInfo .atg_store_groupPayment dd.atg_store_groupPaymentCardExp{
  white-space:nowrap;
}
.atg_store_myAccountPage ul.atg_store_basicForm li.option span{
  float:none !important;
}
#atg_store_profileMyInfoEdit ul.atg_store_basicForm li.option span{
  float:right !important;
}

.atg_store_myAccount .atg_store_existingAddresses ul.atg_store_addNewCreditCard li.option label{
 margin-top:-3px; 
 margin-bottom:0;
}
.atg_store_existingAddresses ul.atg_store_addNewCreditCard li.option span{
  white-space:nowrap;
}
.atg_store_existingAddresses ul.atg_store_addNewCreditCard li.atg_store_ccCsvCode a.atg_store_help{
  margin-top:25px;
  margin-left:-20px;
} 


/* Gift List */
#atg_store_addGiftList .atg_store_basicForm li {
  float:none;
  margin-bottom:20px;
}

.atg_store_giftListDescription{
  clear:left;
}
/* Order Details */
.atg_store_multishipGroupInfo dl dd{
  float:none;
}
.atg_store_orderDetails .atg_store_groupOrderInfo dt{
  margin-bottom:10px;
}
,
.atg_store_orderDetails .atg_store_groupPayment dt{
  padding-bottom:10px;
}
.atg_store_orderDetails .atg_store_groupOrderInfo dd{
  margin-bottom:0px;
}

.atg_store_orderDetails .atg_store_groupPayment dd{
  margin-top:3px !important;
}
.atg_store_myOrderDetail #atg_store_cart th.quantity{
  width:auto !important;
}

/* Checkout 
----------------------------------*/
#atg_store_cart td.item dt{
  clear:none;
  float:left;
  width:85px;
}

#atg_store_cart td.item dd{
  float:none;
}


.atg_store_orderSubTotals dl{
  height:1%;
  overflow:hidden;
}

.atg_store_closenessQualifier{
  float:none !important;
  margin-left:25px;
}

/* Billing */
li.atg_store_saveCC input{
  float:right;
  margin-top:-3px;
}

.atg_store_existingAddresses #atg_store_enterNewBillingAddress{
  float:right;
}
.atg_store_existingAddresses #atg_store_enterNewBillingAddress h3{
  margin-left:20px;
}

#atg_store_checkoutOptionArea .atg_store_paymentInfoGroup,
.atg_store_checkoutEditAddresses #atg_store_storedAddresses .atg_store_addressGroup{
  display:inline;
  zoom:1;
}

#atg_store_cart td.quantity #atg_store_update,
.atg_store_orderSubTotals dl.couponCode input.atg_store_textButton{
  font-size:1.1em;
}

.atg_store_orderConfirmation .atg_store_billingEnterCardCSV .atg_store_basicForm label{
  width:65px !important;
}
.atg_store_orderConfirmation #atg_store_cart th.quantity,
.atg_store_orderConfirmation #atg_store_cart th.prce,
.atg_store_orderDetails #atg_store_cart th.quantity,
.atg_store_orderDetails #atg_store_cart th.price{
  padding-left:0 !important;
  padding-right:0 !important;
}
.atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice span.quantity,
.atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice span.quantity{
 width:55px !important;
 }
 .atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice p.note,
 .atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice .atg_store_oldPrice,
 .atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice p.note,
 .atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice .atg_store_oldPrice{
   margin-left:55px !important;
 }
 
.atg_store_orderConfirmation #atg_store_cart td.atg_store_quantityPrice .atg_store_itemQty,
.atg_store_orderDetails #atg_store_cart td.atg_store_quantityPrice .atg_store_itemQty{
  width:130px !important;
}

.atg_store_orderConfirmation #atg_store_cart th.quantity,
.atg_store_orderDetails #atg_store_cart th.quantity{
  width:auto !important;
}

.atg_store_shipmentInfo dl dd{
  float:none;
}
.atg_store_shipmentInfo dl.atg_store_groupPayment{
  margin-right:10px;
}

.atg_store_confirmGiftMessage ul li span.atg_store_giftNoteInfo{
  float:left;
}

/* Confirmation */
.atg_store_placeOrder{
  width:100%;
  text-align:center;
}

/* Promotions Page */

.atg_store_promoCopy{
  display:inline-block;
  margin-top: 35px;
}
.atg_store_promo img{
  display:inline-block;
}
.atg_store_promo span.atg_store_promoCopy{
  width:auto;
  height:auto;
}
.atg_store_promo a span.atg_store_promoCopy{
  cursor:pointer;
}

/* Email a Friend */
.atg_store_emailAFriend li{
  float:none !important;
  margin-bottom:25px;
}

/* Other IE Fixes */


#atg_store_productComparisons{
  padding-bottom:20px;
}

.atg_store_checkout .atg_store_checkoutNav li span.atg_store_checkoutStageNumber{
  line-height:33px;
}

/* Self Clearing Floats */
#atg_store_productCore,
#atg_store_recommendedProductsDetail,
#atg_store_content,
.atg_store_savedAddresses dd,
#atg_store_recommendAddToCart,
.atg_store_orderSubTotals dl,
#atg_store_logo,
#atg_store_chooseCardAddress,
.atg_store_savedAddresses,
#atg_store_storedCreditCards,
#atg_store_storedAddresses,
.atg_store_infoList,
#atg_store_chooseCardAddress,
#atg_store_chooseCardAddress,
.atg_store_filter,
ul.atg_store_product
.atg_store_homepage_products ul li,
#atg_store_addGiftList .atg_store_basicForm li,
.atg_store_emailProduct li,
.atg_store_multiShipHeader,
#atg_store_giftListShopHeader,
div.atg_store_pickerContainer div.atg_store_sizePicker,
.atg_store_productAvailability,
div.atg_store_pickerContainer,
.atg_store_colorPicker,
.atg_store_sizePicker,
.atg_store_woodFinishPicker,
#atg_store_checkoutPrefs ul li,
#no_js_picker_contents .atg_store_addQty{ 
  zoom:1;
}

h2.title span.atg_store_closenessQualifier {
position: absolute;
right: 0;
bottom: 13px;
}

#atg_store_cart div.wishList_actions {
 margin-top: -40px; 
}
